@model IEnumerable<EmployeeProject.Models.EvaluationFolder.Performance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaluation.EvaluationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OveralRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEvaluated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluation.EvaluationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OveralRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEvaluated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
